@page "/counter"
@using Newtonsoft.Json
@using Newtonsoft.Json.Converters
@using Newtonsoft.Json.Serialization
@using SampleClient.Data
@using Newtonsoft
@inject RelyingPartyConnection RPService
@inject IJSRuntime js

<PageTitle>Authentication</PageTitle>

<h1>Authentication</h1>

<p role="status">Current user: @currentUser</p>

<button class="btn btn-primary" @onclick="Register">Register</button>

@code {
    private string currentUser = "";

    private async Task Register()
    {
        string username="TestUser2";
        string displayName = "Mr. Test User";
        string attestationType = "none";
        string authenticator_attachment = "";
        bool resident_key = false;
        string user_verification = "preferred";
        var credentialCreationOptions= await RPService.RelyingParty.MakeCredentialOptionsAsync(username, displayName, attestationType, authenticator_attachment, resident_key, user_verification);

        var jsonSettings = new JsonSerializerSettings
            {
                ContractResolver = new CamelCasePropertyNamesContractResolver(),
                Converters = { new ByteArrayConverterForJS() }
            };
        var makeCredentialOptionsJson = JsonConvert.SerializeObject(credentialCreationOptions, jsonSettings);
        await js.InvokeVoidAsync("createCredential", makeCredentialOptionsJson);
    
    }
}
