.textarea {
    padding: 1rem 1rem;
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
    border-radius: var(--border-radius);
    font-size: 1rem;
    font-family: var(--font-mono);
    background-color: rgba(var(--background-start-rgb), 1);
    outline: none;
    transition: border-color 200ms;
    width: 100%;
    /*fill available vertical space*/
    height: 100%;
    /*non-resizeable textarea*/
    resize: none;
    /*non-selectable/editable textarea*/
    user-select: none;
    cursor: default;
    -webkit-user-select: none;
    pointer-events: scroll;
    /* Make the JSON wrap nicely */
    word-wrap: break-word;
    white-space: pre-wrap;
    font-family: var(--font-mono);
    overflow: auto;
}

.textarea::-webkit-scrollbar {
    width: 8px;
}

.textarea::-webkit-scrollbar-track {
    background: transparent;
}

.textarea::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); 
    border-radius: 4px;
}

.textarea::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.textarea:focus {
    border-color: rgba(var(--card-border-rgb), 0.3);
}

.textareaContainer {
    position: relative;
}

.invalid {
    border-color: red !important;
}

.error {
    color: red;
    position: absolute;
    left: 0;
    bottom: -20px;
    font-size: 12px;
}