.securedByContainer {
    filter: grayscale(1);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    color: var(--text-color);
    opacity: 0.5;
    /*nothing can be selected*/
    user-select: none;
    width: 100%;
    font-family: var(--font-inter);
}

.securedByContainerImage {
    margin-left: 0.4rem;
    width: 30px;
    height: 30px;
    border-radius: 0.5rem;
    filter: invert(1) ;
}

.logoText {
    font-family: var(--font-montserrat);
    font-weight: 600;
}