.input {
    padding: 1rem 1rem;
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
    border-radius: var(--border-radius);
    font-size: 1rem;
    font-family: var(--font-mono);
    background-color: rgba(var(--background-start-rgb), 1);
    outline: none;
    transition: border-color 200ms;
    width: 100%;
}

.input:focus {
    border-color: rgba(var(--card-border-rgb), 0.3);
}

.inputContainer {
    position: relative;
    display: flex;
    /* Add this */
    align-items: center;
    /* Add this */
}

.iconContainer {
    position: absolute;
    height: 20px;
    width: 20px;
    right: 10px;
    /* Adjust position */
    /*vertically center*/
    top: 50%;
    transform: translateY(-50%);
}

.invalid {
    border-color: red !important;
}

.error {
    color: red;
    position: absolute;
    left: 0;
    bottom: -20px;
    font-size: 12px;
}

/*Do nothing but rotate animation*/
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    fill: #fff !important;
    animation: rotate 1s linear infinite;
}

.checkIcon {
    font-size: 20px;
}

.crossIcon {
    font-size: 20px;
}