.button {
    padding: 10px 20px;
    background-color: rgb(0, 123, 255, 1);
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.button:disabled > * {
    opacity: 0.5;
}